h1,h2,h3,h4,h5{
  font-family: 'Lora','Materalize Icon','serif';
}

p,a{
  font-family:'Scope One','serif';
}

nav {
  background-color:#4BA6DC;
  padding:0;
  margin:0;
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

.header{
  background-color:#4BA6DC;
  color:#FBFAF9;
}

.footer{
  background-color:#4BA6DC;
  color:#FBFAF9;
  margin:0;
  text-align:center;
}

.footerAbout{
  background-color:#2686C5;
  color:#FBFAF9;
  padding:5px;
  display:inline;
}

.footerAbout p a{
  color:#FBFAF9;
}

.footerAbout svg{
  width:25%;
  height:25%;
}

.body{
  background-color:#FBFAF9;
}

.row{
  margin:0;
}


.socialmedia li {
  /*Creates Horizontal List:*/
  display: inline-block;
  zoom:1;
  *display:inline;
  /*Provides proper spacing for each item.*/
  margin: 0px 5% 0px 5%;

}

.socialmedia li  a{
  /*Changes color of icon:*/
  color:#4BA6DC;
}

.socialmedia li a svg{
  /*Changes size of icon:*/
  width:200%;
  height:155%;
}
