h1,h2,h3,h4,h5{
  font-family: 'Lora','Materalize Icon','serif';
}

p,a {
  font-family:'Scope One','serif';
  color:black;
}


nav {
  background-color:#4BA6DC;
  padding:0;
  margin:0;
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

.header{
  background-color:#4BA6DC;
  color:#FBFAF9;
}

.header a h3 {
  color:#FBFAF9;
}
.body{
  background-color:#FBFAF9;
}

.row{
  margin:0;
}

.footer{
  background-color:#4BA6DC;
  color:#FBFAF9;
  margin:0;
  text-align:center;
  vertical-align:middle;
}

/*Lowest Footer: */
.footerAbout{
  background-color:#2686C5;
  color:#FBFAF9;
  padding:5px;
}

.footerAbout span {
  display:inline-block;
  margin:4px;
}

.footerAbout span p {
  display:inline-block;
  margin:5px;
}

.footerAbout span svg {
  vertical-align:middle;
  margin:5px;
}


.footerAbout span a {
  color:#FBFAF9;
}


/*Social Media Column:*/
.socialmedia li {
  /*Creates Horizontal List:*/
  display: inline-block;

  zoom:1;
  *display:inline;
  /*Provides proper spacing for each item.*/
  margin: 0 5% 0 5%;

}

.socialmedia li  a{
  /*Changes color of icon:*/
  color:#4BA6DC;
}

.socialmedia li a svg{
  /*Changes size of icon:*/
  width:200%;
  height:155%;
}

/*Project Links Row: */
.projectLink {
  text-align:center;
}


.projectLink li {
  /*Creates Horizontal List:*/
  display: inline-block;
  zoom:1;
  *display:inline;
  /*Provides proper spacing for each item.*/
  margin: 0 15% 0 5%;
}

.projectLink li  a{
  /*Changes color of icon:*/
  color:#FBFAF9;
}

.projectLink li a svg{
  /*Changes size of icon:*/
  width:200%;
  height:155%;
}

/*Project Card*/
.project{
  background-color:#2686C5;
  margin:15px;
}

.project h1,.project h2, .project h3,.project h4,.project h5,.project p{
  text-align:center;
  color:#FBFAF9;
}

.project hr{
  color:#FBFAF9;
  background-color:#FBFAF9;
  border-color:#FBFAF9;
}


.project a {
  color:#FBFAF9;
}