{% extends "index.html" %}
{% block content %}
<div class="row body">
  <div class="col s8 offset-s2">
    <h5>Contact Me:</h5>
    <div>
      <ul class="socialmedia" style="text-align:center">
        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-3x"></i></a></li>
        <li><a href="https://www.twitter.com/"><i class="fab fa-twitter-square fa-3x"></i></a></li>
        <li><a href="https://www.github.com/"><i class="fab fa-github-square fa-3x"></i></a></li>
        <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-3x"></i></a></li>
      </ul>
    </div>
    <p style="text-align:center">
      Feel free to contact me via email: test@testMcTest.com
    </p>
  </div>
</div>
{% endblock %}
