{% extends "index.html" %}
{% block content %}
<div class="body">
  <div class="row">
    <div class="col s5 offset-s2">
      <h5>About:</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac est sodales, sagittis nunc non, consectetur quam. Aliquam sit amet vehicula metus. Suspendisse porttitor arcu sed quam semper, nec accumsan libero interdum. Donec id diam at justo sodales egestas. Suspendisse erat arcu, blandit sed ornare quis, lobortis sed augue. Donec id fermentum quam, eu facilisis leo. Suspendisse pulvinar magna turpis, vitae semper eros ullamcorper ut.
      </p>
    </div>
    <div class="col s5">
      <h5>Social Media:</h5>
      <ul class="socialmedia">
        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-3x"></i></a></li>
        <li><a href="https://www.twitter.com/"><i class="fab fa-twitter-square fa-3x"></i></a></li>
        <li><a href="https://www.github.com/"><i class="fab fa-github-square fa-3x"></i></a></li>
        <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-3x"></i></a></li>
      </ul>
    </div>
  </div>
  <!--Projects-->
  <div class="row">
    <div class="col s12 m9 l9 offset-m2 offset-l2 cards-container">
      <div class="card">
        <div class="card-content">
          <span class="title">
            <h5>Sample App Engine Application</h5>
          </span>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis finibus justo, in auctor neque congue at. Suspendisse potenti. Proin in feugiat justo. Phasellus ut mauris ut urna ultricies ornare. Nullam in magna neque. Quisque tincidunt, libero id sollicitudin mattis, lacus magna lacinia lacus, at laoreet purus mauris vel justo. Aenean rutrum risus a iaculis ultricies. Pellentesque lacinia vitae elit et consectetur. Morbi et elit tincidunt magna eleifend egestas sed in ex. Duis vestibulum bibendum ipsum vitae ornare. Morbi feugiat ex at arcu porta iaculis.

            Mauris id tortor sagittis, porttitor diam eu, porttitor dolor. Ut auctor congue neque. Quisque elementum sagittis tincidunt. Donec diam leo, feugiat a efficitur vitae, pulvinar malesuada mi. Aliquam quis pretium diam. Vivamus elementum tempus felis finibus sagittis. Aenean ultricies viverra tellus.
          </p>
        </div>
        <div class="card-action">
          <ul class="projectLink">
            <li><a href="https://www.github.com/"><i data-feather="github"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i data-feather="external-link"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="title">
            <h5>Sample Cloud Function Script</h5>
          </span>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus commodo purus id bibendum. Mauris congue, ex eu tristique tempor, ante arcu tincidunt sem, quis luctus nisl massa in metus. In sed accumsan est, quis varius eros. Suspendisse turpis dui, condimentum quis nibh eu, ullamcorper tincidunt augue. Nunc ac elit nisl. Aenean mi lorem, faucibus eget orci eget, viverra eleifend odio. Praesent mattis, velit vel commodo scelerisque, massa velit iaculis dui, et laoreet eros nibh ac erat. Aenean iaculis arcu nisl, in feugiat orci egestas non. Quisque ultrices aliquet mauris ut sodales. Duis finibus nibh eget rhoncus consectetur. Sed a mollis quam, at fringilla ex. Ut at dui sed lorem interdum eleifend.
          </p>
        </div>
        <div class="card-action">
          <ul class="projectLink">
            <li><a href="https://www.github.com/"><i data-feather="github"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i data-feather="external-link"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content ">
          <span class="title">
            <h5>Sample DataStudio File</h5>
          </span>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus commodo purus id bibendum. Mauris congue, ex eu tristique tempor, ante arcu tincidunt sem, quis luctus nisl massa in metus. In sed accumsan est, quis varius eros. Suspendisse turpis dui, condimentum quis nibh eu, ullamcorper tincidunt augue. Nunc ac elit nisl. Aenean mi lorem, faucibus eget orci eget, viverra eleifend odio.
          </p>
        </div>
        <div class="card-action">
          <ul class="projectLink">
            <li><a href="https://www.github.com/"><i data-feather="github"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i data-feather="external-link"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-content ">
          <span class="title">
            <h5>Sample GCP API Script</h5>
          </span>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus commodo purus id bibendum. Mauris congue, ex eu tristique tempor, ante arcu tincidunt sem, quis luctus nisl massa in metus.
          </p>
        </div>
        <div class="card-action">
          <ul class="projectLink">
            <li><a href="https://www.github.com/"><i data-feather="github"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i data-feather="external-link"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content ">
          <span class="title">
            <h5>Sample BigQuery Application</h5>
          </span>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis finibus justo, in auctor neque congue at. Suspendisse potenti. Proin in feugiat justo. Phasellus ut mauris ut urna ultricies ornare. Nullam in magna neque. Quisque tincidunt, libero id sollicitudin mattis, lacus magna lacinia lacus, at laoreet purus mauris vel justo. Aenean rutrum risus a iaculis ultricies. Pellentesque lacinia vitae elit et consectetur. Morbi et elit tincidunt magna eleifend egestas sed in ex. Duis vestibulum bibendum ipsum vitae ornare. Morbi feugiat ex at arcu porta iaculis.

            Mauris id tortor sagittis, porttitor diam eu, porttitor dolor. Ut auctor congue neque. Quisque elementum sagittis tincidunt. Donec diam leo, feugiat a efficitur vitae, pulvinar malesuada mi. Aliquam quis pretium diam. Vivamus elementum tempus felis finibus sagittis. Aenean ultricies viverra tellus.
          </p>
        </div>
        <div class="card-action">
          <ul class="projectLink">
            <li><a href="https://www.github.com/"><i data-feather="github"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i data-feather="external-link"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
