{% extends "index.html" %}
{% block content %}
<div class="body">
  <div class="row">
    <div class="col s5 offset-s2">
      <h5>About:</h5>
      <p>Questions explained agreeable preferred strangers too him her son. Set put shyness offices his females him distant. Improve has message besides shy himself cheered however how son. Quick judge other leave ask first chief her. Indeed or remark always silent seemed narrow be. Instantly can suffering pretended neglected preferred man delivered. Perhaps fertile brandon do imagine to cordial cottage.
      </p>
    </div>
    <div class="col s5">
      <h5>Social Media:</h5>
      <ul class="socialmedia">
        <li><a href="https://www.facebook.com/"><i data-feather="facebook"></i></a></li>
        <li><a href="https://www.twitter.com/"><i data-feather="twitter"></i></a></li>
        <li><a href="https://www.instagram.com/"><i data-feather="instagram"></i></a></li>
        <li><a href="https://www.github.com/"><i data-feather="github"></i></a></li>
        <li><a href="https://www.linkedin.com/"><i data-feather="linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <!--Projects-->
  <div class="row">
    <div class="col s3 offset-s2 project">
      <h5>Sample App Engine Application</h5>
      <hr>
      <p>
        Now seven world think timed while her. Spoil large oh he rooms on since an. Am up unwilling eagerness perceived incommode. Are not windows set luckily musical hundred can. Collecting if sympathize middletons be of of reasonably. Horrible so kindness at thoughts exercise no weddings subjects. The mrs gay removed towards journey chapter females offered not. Led distrusts otherwise who may newspaper but. Last he dull am none he mile hold as.

        Arrival entered an if drawing request. How daughters not promotion few knowledge contented. Yet winter law behind number stairs garret excuse. Minuter we natural conduct gravity if pointed oh no. Am immediate unwilling of attempted admitting disposing it. Handsome opinions on am at it ladyship.
      </p>
    </div>
    <div class="col s3 project">
      <h5>Sample Google Cloud Function</h5>
      <hr>
      <p>
        Now seven world think timed while her. Spoil large oh he rooms on since an. Am up unwilling eagerness perceived incommode. Are not windows set luckily musical hundred can. Collecting if sympathize middletons be of of reasonably. Horrible so kindness at thoughts exercise no weddings subjects. The mrs gay removed towards journey chapter females offered not. Led distrusts otherwise who may newspaper but. Last he dull am none he mile hold as.

        Arrival entered an if drawing request. How daughters not promotion few knowledge contented. Yet winter law behind number stairs garret excuse. Minuter we natural conduct gravity if pointed oh no. Am immediate unwilling of attempted admitting disposing it. Handsome opinions on am at it ladyship.
        Effect if in up no depend seemed. Ecstatic elegance gay but disposed. We me rent been part what. An concluded sportsman offending so provision mr education. Bed uncommonly his discovered for estimating far. Equally he minutes my hastily. Up hung mr we give rest half. Painful so he an comfort is manners.
      </p>
    </div>
    <div class="col s3 project">
      <h5>Sample Google API Script</h5>
      <hr>
      <p>
        Now seven world think timed while her. Spoil large oh he rooms on since an. Am up unwilling eagerness perceived incommode. Are not windows set luckily musical hundred can. Collecting if sympathize middletons be of of reasonably. Horrible so kindness at thoughts exercise no weddings subjects. The mrs gay removed towards journey chapter females offered not. Led distrusts otherwise who may newspaper but. Last he dull am none he mile hold as.
      </p>

    </div>
  </div>
</div>

{% endblock %}